@tailwind base;
@tailwind components;
@tailwind utilities;


.menu-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #c49c7c; 
  transition: width 0.3s;
}


.menu-link:hover::after {
  width: 100%;
}

.custom-bg-color {
  background-color: #c49c7c; 
}

.sizelogo {
  height: 210px;
}

.contenedorhero {
  margin-top: 100px;
}


/* LoadingScreen.css */
.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #c49c7c;
  position: relative;
  overflow: hidden;
}

.swimmer-container {
  position: relative;
  width: 150px;
  height: 150px;
}

.swimmer {
  width: 150px;
  height: 150px;
  background-image: url('../src/assets/hotelicon.svg'); 
  background-size: contain;
  background-repeat: no-repeat;
  animation: swim 2s infinite ease-in-out;
}


@keyframes swim {
  0%, 100% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
}

@keyframes rise {
  0% {
    transform: translateY(0);
    opacity: 0.7;
  }
  100% {
    transform: translateY(-150px);
    opacity: 0;
  }
}

.loading-text {
  color: white;
  font-size: 24px;
  margin-top: 20px;
  animation: fadeIn 2s ease-in-out infinite alternate;
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}